{{#each items}}
<div class="item {{ cycle }}">
    <a href="{{ url }}">{{ title }}</a> <i class="itemType">[{{ type }}]</i><br />
    Posted in {{#each categories }}<a href="/posts/{{ this }}">{{ this }}</a>, {{/each}} on {{ postDate }}
</div>
{{/each}}
